name: Toram Daily Report

on:
  schedule:
    - cron: '40 13 * * *' # 每天台灣時間 21:40
  workflow_dispatch:

jobs:
  run-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pandas numpy requests plotly scipy streamlit google-generativeai openpyxl gTTS
          pip install git+https://github.com/rany2/edge-tts.git

      - name: Run Daily Report
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python daily_report.py